
          <div id="aumentOverlay"></div><div id="openPopUp" style="overflow-y:auto;max-height:100vh;word-break:break-word;box-shadow:0 2px 4px 1px rgba(0,0,0,.2);box-sizing:border-box;width:360px;white-space:normal"><div id="aumentBackground" style="overflow:auto;height:94%;padding-bottom:16px;background-color:#fff"><div style="display:flex;justify-content:flex-end"><button id="closeButton" style="z-index:10;margin-top:8px;margin-right:8px;cursor:pointer;display:flex;align-items:center;justify-content:center;border:0;padding:0;border-radius:50%;width:40px;height:40px;font-size:28px;position:absolute;font-weight:700;min-width:40px;max-width:40px;box-shadow:none;background-color:#eaeaea"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.41425 7.00025L13.7072 1.70725C14.0982 1.31625 14.0982 0.68425 13.7072 0.29325C13.3162 -0.09775 12.6842 -0.09775 12.2933 0.29325L7.00025 5.58625L1.70725 0.29325C1.31625 -0.09775 0.68425 -0.09775 0.29325 0.29325C-0.09775 0.68425 -0.09775 1.31625 0.29325 1.70725L5.58625 7.00025L0.29325 12.2933C-0.09775 12.6842 -0.09775 13.3162 0.29325 13.7072C0.48825 13.9022 0.74425 14.0002 1.00025 14.0002C1.25625 14.0002 1.51225 13.9022 1.70725 13.7072L7.00025 8.41425L12.2933 13.7072C12.4882 13.9022 12.7443 14.0002 13.0002 14.0002C13.2562 14.0002 13.5122 13.9022 13.7072 13.7072C14.0982 13.3162 14.0982 12.6842 13.7072 12.2933L8.41425 7.00025Z" fill="#6D6D6D"/></svg></button></div><img class="aumentBanner" alt="" src="https://aumentusersfiles.s3.amazonaws.com/634fd1fe49e78a0009d07c67/634fd1fe49e78a0009d07c69/iStock-1166777456.jpg" style="width:360px"><div class="aumentTextContainer"><div style="width:328px;box-shadow:0 2px 4px 1px rgba(0,0,0,.2);box-sizing:border-box;padding:16px;margin:16px 16px 0 16px;background-color:#fff;border-radius:8px;display:flex;flex-direction:column;align-items:center;background:#fff"><div style="margin-bottom:8px"><div style="font-weight:Normal;font-size:32px;line-height:32px;text-align:center;font-family:'Open Sans',sans-serif;color:#000">10% OFF</div><div style="display:block;margin-top:8px;font-size:16px;line-height:16px;font-weight:Normal;text-align:center;font-family:'Open Sans',sans-serif;color:#000">Subscribe to access this coupon!</div></div><input id="emailInput" placeholder="Enter your email" type="email" style="display:block;text-indent:8px;outline:0;width:100%;margin-top:8px;height:40px;background:#fff;border:1px solid #c1c1c1;border-radius:2px;opacity:.7;font-family:'Open Sans',sans-serif;font-size:14px;font-weight:Normal;color:#000"><div id="emailError" style="color:#ba2d2b;font-size:14px;width:100%">Invalid Email</div><input id="aumentSmsInput" placeholder="Phone (Optional)" type="tel" placeholder="Enter your SMS" style="display:block;text-indent:8px;outline:0;width:100%;margin-top:8px!important;height:40px;background:#fff;border:1px solid #c1c1c1;border-radius:2px;opacity:.7;font-family:Lato,sans-serif;font-size:14px;font-weight:Normal;color:#24375d"><div id="aumentPhoneError" style="display:none;color:#ba2d2b;font-size:14px;width:100%">Invalid phone</div><button id="submitButton" style="height:auto;padding:8px 0;background-color:#000;cursor:pointer;font-size:16px;border:0;width:100%;border-radius:4px;font-family:'Open Sans',sans-serif;font-weight:Normal;color:#fff;margin-top:16px">Get coupon</button><div id="aumentTermsAndConditions" style="display:block;opacity:.7;font-family:Lato,sans-serif;margin-top:4px;text-align:center;letter-spacing:.1px;font-weight:Normal;font-size:12px;line-height:12px;color:#000">By submitting this form and signing up for texts, you consent to receive marketing text messages (e.g. promos, cart reminders) from Elevate Styles at the number provided, including messages sent by autodialer. Consent is not a condition of purchase. Msg & data rates may apply. Msg frequency varies. Unsubscribe at any time by replying STOP or clicking the unsubscribe link (where available).<a target="_blank" href="https://elevatestyles.myshopify.com/policies/terms-of-service" style="color:#000">Privacy</a> & <a target="_blank" href="https://elevatestyles.myshopify.com/policies/privacy-policy" style="color:#000">Terms</a></div></div></div></div><div id="aumentLogoContainer" style="height:6%;background:#eaeaea;border-radius:0 0 16px 16px;align-items:center;display:flex"><div id="aumentPoweredBy" style="font-family:Inter,sans-serif;font-size:10px;font-weight:500;width:100%"><div style="height:100%;display:flex;align-items:center;justify-content:center">POWERED BY <a style="cursor:pointer" href="https://aument.io/shopify-popup/?utm_source=pop-up&utm_medium=pop-up-merchant&utm_campaign=pop-up-merchant" target="_blank"><svg width="95" height="32" viewBox="0 0 95 28" xmlns="http://www.w3.org/2000/svg"><path d="M57.7931 12.3066C58.4754 12.9962 58.8159 13.9569 58.8145 15.1887V20.5598H56.5345V15.502C56.5345 14.7872 56.3556 14.2407 55.9957 13.8581C55.8034 13.6648 55.5732 13.5143 55.3199 13.4162C55.0666 13.3181 54.7959 13.2746 54.525 13.2884C54.2529 13.2749 53.9809 13.3186 53.7264 13.4167C53.4718 13.5147 53.2401 13.665 53.0459 13.8581C52.6818 14.2407 52.4988 14.7872 52.4988 15.502V20.5598H50.2105V15.502C50.2105 14.7872 50.0295 14.2407 49.6717 13.8581C49.4791 13.6646 49.2485 13.5139 48.9949 13.4158C48.7412 13.3177 48.4701 13.2743 48.1988 13.2884C47.9244 13.274 47.6501 13.3172 47.393 13.4153C47.136 13.5133 46.9018 13.6641 46.7052 13.8581C46.3391 14.2407 46.156 14.7872 46.156 15.502V20.5598H43.8677V11.4069H46.156V12.5127C46.4577 12.1229 46.8471 11.8116 47.2918 11.6045C47.7707 11.3806 48.2932 11.2678 48.8208 11.2745C49.4783 11.2644 50.1278 11.4213 50.7097 11.7307C51.2574 12.0249 51.7068 12.4762 52.0016 13.0277C52.3032 12.4907 52.7479 12.0501 53.2851 11.7559C53.8406 11.4377 54.469 11.2725 55.1074 11.2766C56.2169 11.2752 57.1121 11.6185 57.7931 12.3066Z"/><path d="M46.1498 11.4069V20.5598H43.8449V19.4036C43.5426 19.8059 43.1468 20.1265 42.6924 20.337C42.2091 20.5638 41.6817 20.6788 41.1488 20.6733C40.4967 20.6852 39.8524 20.5289 39.2766 20.2193C38.7275 19.9121 38.2814 19.4466 37.9951 18.8823C37.6699 18.2314 37.5098 17.509 37.5292 16.7801V11.4069H39.8175V16.4521C39.8175 17.1795 39.9971 17.7401 40.3563 18.1339C40.546 18.3318 40.7753 18.4865 41.029 18.5876C41.2826 18.6887 41.5547 18.734 41.827 18.7204C42.1019 18.7349 42.3768 18.6902 42.6332 18.589C42.8897 18.4879 43.1219 18.3328 43.3144 18.1339C43.6736 17.7429 43.8532 17.1823 43.8532 16.4521V11.4069H46.1498Z"/><path d="M27.4668 13.4755C27.7935 12.7982 28.3042 12.229 28.9394 11.8344C29.5745 11.4397 30.3077 11.2361 31.0532 11.2472C31.6703 11.2343 32.2806 11.3789 32.8277 11.6676C33.3052 11.9173 33.7211 12.2722 34.0446 12.7061V11.4027H36.3558V20.5514H34.0446V19.2144C33.7286 19.6624 33.3114 20.0278 32.8277 20.2802C32.2745 20.5686 31.6589 20.7131 31.0365 20.7007C30.301 20.7079 29.579 20.5014 28.9563 20.1057C28.3162 19.6949 27.8013 19.1127 27.4689 18.424C27.0904 17.651 26.9013 16.7973 26.9176 15.935C26.9018 15.0824 27.0902 14.2386 27.4668 13.4755V13.4755ZM33.718 14.5266C33.5155 14.1403 33.2099 13.8192 32.836 13.5995C32.4728 13.3882 32.061 13.2772 31.6419 13.2779C31.2212 13.2741 30.8076 13.3869 30.446 13.6041C30.0843 13.8213 29.7885 14.1345 29.5908 14.5097C29.3588 14.9482 29.2434 15.4401 29.2558 15.9371C29.245 16.44 29.3602 16.9376 29.5908 17.3834C29.7939 17.7747 30.0989 18.1025 30.4728 18.3315C30.8251 18.548 31.2296 18.6622 31.6419 18.6615C32.0611 18.6632 32.4732 18.5522 32.836 18.3399C33.2105 18.122 33.5164 17.8013 33.718 17.415C33.9329 16.9645 34.0445 16.4708 34.0445 15.9708C34.0445 15.4707 33.9329 14.977 33.718 14.5266V14.5266Z"/><path d="M69.0038 16.7759H62.3844C62.4057 17.3639 62.6518 17.9208 63.0709 18.3294C63.475 18.7044 64.0077 18.9057 64.5562 18.8907C64.9343 18.9133 65.3102 18.8195 65.6345 18.6217C65.9587 18.4239 66.216 18.1314 66.3723 17.7828H68.8395C68.5854 18.6534 68.0574 19.4165 67.3354 19.9565C66.5435 20.5356 65.5831 20.8315 64.6061 20.7973C63.7875 20.8108 62.9795 20.6087 62.2616 20.2108C61.5749 19.8276 61.0127 19.2515 60.6432 18.5522C60.2488 17.7903 60.052 16.9397 60.0711 16.08C60.0527 15.2137 60.2494 14.3566 60.6432 13.5869C61.0066 12.8903 61.5633 12.316 62.245 11.9345C62.9725 11.5393 63.7886 11.3403 64.6144 11.3564C65.4204 11.3426 66.2165 11.5365 66.9277 11.9198C67.5988 12.2831 68.1499 12.837 68.5129 13.5133C68.8988 14.241 69.093 15.0569 69.0766 15.8824C69.0768 16.1818 69.0524 16.4806 69.0038 16.7759V16.7759ZM66.6989 15.2245C66.7035 14.9535 66.6489 14.6849 66.5388 14.4378C66.4288 14.1906 66.2661 13.9711 66.0623 13.795C65.6375 13.4341 65.0964 13.2433 64.5416 13.2589C64.0168 13.2433 63.5055 13.4288 63.1104 13.7782C62.7074 14.1568 62.4551 14.6711 62.401 15.2245H66.6989Z"/><path d="M77.8928 12.3066C78.5571 12.9962 78.8893 13.9569 78.8893 15.1887V20.5598H76.6009V15.502C76.6009 14.7746 76.422 14.2175 76.0621 13.8202C75.8726 13.6221 75.6433 13.4673 75.3896 13.3661C75.1359 13.265 74.8638 13.2198 74.5914 13.2337C74.3152 13.2193 74.0392 13.2641 73.7814 13.3652C73.5236 13.4663 73.2899 13.6213 73.0957 13.8202C72.7295 14.2112 72.5486 14.7683 72.5486 15.502V20.5598H70.2644V11.4069H72.5527V12.5463C72.8631 12.1453 73.2639 11.8252 73.7218 11.6129C74.2104 11.384 74.7435 11.2684 75.282 11.2745C76.3569 11.2745 77.2271 11.6185 77.8928 12.3066Z"/><path d="M83.4326 13.3073V17.7324C83.4216 17.8531 83.4355 17.9749 83.4735 18.09C83.5114 18.205 83.5726 18.3109 83.6531 18.4009C83.8673 18.5613 84.1325 18.6361 84.3979 18.6111H85.4505V20.5598H84.013C82.0853 20.5598 81.1207 19.6124 81.1193 17.7176V13.3031H80.0417V11.4111H81.1193V9.14286H83.4326V11.4069H85.4505V13.2989L83.4326 13.3073Z"/><path d="M22.6033 17.3553H19.2093C20.0606 18.1828 20.8647 18.974 21.6644 19.7562C20.9411 20.4727 20.3054 21.0961 19.6428 21.7582C18.8813 20.9918 18.0997 20.2006 17.3315 19.4025C17.2541 19.2717 17.2224 19.1184 17.2416 18.9672C17.2416 17.6795 17.2416 16.3917 17.2416 15.113V14.6595H16.442C15.2717 14.6595 14.1015 14.6595 12.9222 14.6595C12.7756 14.6694 12.6296 14.633 12.5044 14.5553C11.7205 13.7867 10.9456 12.9954 10.1931 12.2427C10.849 11.5966 11.4757 10.964 12.1248 10.3156L14.5193 12.6191V9.21373H17.2259V12.6145C18.0345 11.7832 18.8132 10.9791 19.5619 10.2022C20.2695 10.9323 20.8962 11.5625 21.5835 12.2586C20.8445 12.9954 20.0471 13.7867 19.1958 14.6437H22.619L22.6033 17.3553Z"/><path d="M16.7902 15.0948V22.928H14.1667V19.6111L11.3185 22.4859L9.4609 20.6177L12.3158 17.7361H9.04761V15.0948H16.7902Z"/></svg></a></div></div></div></div><div id="successPopUp" style="overflow-y:auto;max-height:100vh;word-break:break-word;box-shadow:0 2px 4px 1px rgba(0,0,0,.2);box-sizing:border-box;width:360px;white-space:normal"><div id="aumentBackground" style="height:89%;padding-bottom:16px;background-color:#fff"><div style="display:flex;justify-content:flex-end"><button id="closeButtonSuccess" style="z-index:10;margin-top:8px;margin-right:8px;cursor:pointer;display:flex;align-items:center;justify-content:center;border:0;padding:0;border-radius:50%;width:40px;height:40px;font-size:28px;position:absolute;font-weight:700;min-width:40px;max-width:40px;box-shadow:none;background-color:#eaeaea"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.41425 7.00025L13.7072 1.70725C14.0982 1.31625 14.0982 0.68425 13.7072 0.29325C13.3162 -0.09775 12.6842 -0.09775 12.2933 0.29325L7.00025 5.58625L1.70725 0.29325C1.31625 -0.09775 0.68425 -0.09775 0.29325 0.29325C-0.09775 0.68425 -0.09775 1.31625 0.29325 1.70725L5.58625 7.00025L0.29325 12.2933C-0.09775 12.6842 -0.09775 13.3162 0.29325 13.7072C0.48825 13.9022 0.74425 14.0002 1.00025 14.0002C1.25625 14.0002 1.51225 13.9022 1.70725 13.7072L7.00025 8.41425L12.2933 13.7072C12.4882 13.9022 12.7443 14.0002 13.0002 14.0002C13.2562 14.0002 13.5122 13.9022 13.7072 13.7072C14.0982 13.3162 14.0982 12.6842 13.7072 12.2933L8.41425 7.00025Z" fill="#6D6D6D"/></svg></button></div><img class="aumentBanner" src="https://aumentusersfiles.s3.amazonaws.com/634fd1fe49e78a0009d07c67/634fd1fe49e78a0009d07c69/iStock-1166777456.jpg" style="width:360px;height:240px"><!-- CHANGE IMAGE SRC !!! --><div class="aumentTextContainer"><div style="width:328px;box-shadow:0 2px 4px 1px rgba(0,0,0,.2);box-sizing:border-box;padding:16px;margin:16px 16px 0 16px;background-color:#fff;border-radius:8px;display:flex;flex-direction:column;align-items:center;background:#fff"><div id="aumentSuccessTitle" style="font-weight:Normal;font-size:32px;line-height:32px;text-align:center;color:#000;font-family:'Open Sans',sans-serif">Coupon applied 🎁</div><div id="aumentAlreadyExists" style="font-weight:Normal;font-size:32px;line-height:32px;text-align:center;color:#000;font-family:'Open Sans',sans-serif">Already subscribed</div><div id="aumentSuccessSubtitle" style="display:block;margin-top:8px;text-align:center;font-size:16px;line-height:16px;font-weight:Normal;color:#000;font-family:'Open Sans',sans-serif">Your coupon will be applied at checkout!</div><div id="aumentDiscountCode" style="display:block;font-weight:600;font-size:14px;line-height:45px;text-align:center;background:#f4f4f4;width:100%;border-radius:2px;margin-top:16px">AU_EXAMPLE</div><button id="submitButtonSuccess" style="height:auto;padding:8px 0;cursor:pointer;font-size:16px;margin:16px;border:0;color:#fff;width:100%;border-radius:4px;font-family:'Open Sans',sans-serif;font-weight:Normal;background-color:#000">Continue shopping</button></div></div></div><div id="aumentLogoContainer" style="height:6%;background:#eaeaea;border-radius:0 0 16px 16px;display:flex"><div id="aumentPoweredBy" style="font-family:Inter,sans-serif;font-size:10px;font-weight:500;width:100%"><div style="display:flex;align-items:center;justify-content:center">POWERED BY <a style="cursor:pointer" href="https://aument.io/shopify-popup/?utm_source=pop-up&utm_medium=pop-up-merchant&utm_campaign=pop-up-merchant" target="_blank"><svg width="95" height="32" viewBox="0 0 95 28" xmlns="http://www.w3.org/2000/svg"><path d="M57.7931 12.3066C58.4754 12.9962 58.8159 13.9569 58.8145 15.1887V20.5598H56.5345V15.502C56.5345 14.7872 56.3556 14.2407 55.9957 13.8581C55.8034 13.6648 55.5732 13.5143 55.3199 13.4162C55.0666 13.3181 54.7959 13.2746 54.525 13.2884C54.2529 13.2749 53.9809 13.3186 53.7264 13.4167C53.4718 13.5147 53.2401 13.665 53.0459 13.8581C52.6818 14.2407 52.4988 14.7872 52.4988 15.502V20.5598H50.2105V15.502C50.2105 14.7872 50.0295 14.2407 49.6717 13.8581C49.4791 13.6646 49.2485 13.5139 48.9949 13.4158C48.7412 13.3177 48.4701 13.2743 48.1988 13.2884C47.9244 13.274 47.6501 13.3172 47.393 13.4153C47.136 13.5133 46.9018 13.6641 46.7052 13.8581C46.3391 14.2407 46.156 14.7872 46.156 15.502V20.5598H43.8677V11.4069H46.156V12.5127C46.4577 12.1229 46.8471 11.8116 47.2918 11.6045C47.7707 11.3806 48.2932 11.2678 48.8208 11.2745C49.4783 11.2644 50.1278 11.4213 50.7097 11.7307C51.2574 12.0249 51.7068 12.4762 52.0016 13.0277C52.3032 12.4907 52.7479 12.0501 53.2851 11.7559C53.8406 11.4377 54.469 11.2725 55.1074 11.2766C56.2169 11.2752 57.1121 11.6185 57.7931 12.3066Z"/><path d="M46.1498 11.4069V20.5598H43.8449V19.4036C43.5426 19.8059 43.1468 20.1265 42.6924 20.337C42.2091 20.5638 41.6817 20.6788 41.1488 20.6733C40.4967 20.6852 39.8524 20.5289 39.2766 20.2193C38.7275 19.9121 38.2814 19.4466 37.9951 18.8823C37.6699 18.2314 37.5098 17.509 37.5292 16.7801V11.4069H39.8175V16.4521C39.8175 17.1795 39.9971 17.7401 40.3563 18.1339C40.546 18.3318 40.7753 18.4865 41.029 18.5876C41.2826 18.6887 41.5547 18.734 41.827 18.7204C42.1019 18.7349 42.3768 18.6902 42.6332 18.589C42.8897 18.4879 43.1219 18.3328 43.3144 18.1339C43.6736 17.7429 43.8532 17.1823 43.8532 16.4521V11.4069H46.1498Z"/><path d="M27.4668 13.4755C27.7935 12.7982 28.3042 12.229 28.9394 11.8344C29.5745 11.4397 30.3077 11.2361 31.0532 11.2472C31.6703 11.2343 32.2806 11.3789 32.8277 11.6676C33.3052 11.9173 33.7211 12.2722 34.0446 12.7061V11.4027H36.3558V20.5514H34.0446V19.2144C33.7286 19.6624 33.3114 20.0278 32.8277 20.2802C32.2745 20.5686 31.6589 20.7131 31.0365 20.7007C30.301 20.7079 29.579 20.5014 28.9563 20.1057C28.3162 19.6949 27.8013 19.1127 27.4689 18.424C27.0904 17.651 26.9013 16.7973 26.9176 15.935C26.9018 15.0824 27.0902 14.2386 27.4668 13.4755V13.4755ZM33.718 14.5266C33.5155 14.1403 33.2099 13.8192 32.836 13.5995C32.4728 13.3882 32.061 13.2772 31.6419 13.2779C31.2212 13.2741 30.8076 13.3869 30.446 13.6041C30.0843 13.8213 29.7885 14.1345 29.5908 14.5097C29.3588 14.9482 29.2434 15.4401 29.2558 15.9371C29.245 16.44 29.3602 16.9376 29.5908 17.3834C29.7939 17.7747 30.0989 18.1025 30.4728 18.3315C30.8251 18.548 31.2296 18.6622 31.6419 18.6615C32.0611 18.6632 32.4732 18.5522 32.836 18.3399C33.2105 18.122 33.5164 17.8013 33.718 17.415C33.9329 16.9645 34.0445 16.4708 34.0445 15.9708C34.0445 15.4707 33.9329 14.977 33.718 14.5266V14.5266Z"/><path d="M69.0038 16.7759H62.3844C62.4057 17.3639 62.6518 17.9208 63.0709 18.3294C63.475 18.7044 64.0077 18.9057 64.5562 18.8907C64.9343 18.9133 65.3102 18.8195 65.6345 18.6217C65.9587 18.4239 66.216 18.1314 66.3723 17.7828H68.8395C68.5854 18.6534 68.0574 19.4165 67.3354 19.9565C66.5435 20.5356 65.5831 20.8315 64.6061 20.7973C63.7875 20.8108 62.9795 20.6087 62.2616 20.2108C61.5749 19.8276 61.0127 19.2515 60.6432 18.5522C60.2488 17.7903 60.052 16.9397 60.0711 16.08C60.0527 15.2137 60.2494 14.3566 60.6432 13.5869C61.0066 12.8903 61.5633 12.316 62.245 11.9345C62.9725 11.5393 63.7886 11.3403 64.6144 11.3564C65.4204 11.3426 66.2165 11.5365 66.9277 11.9198C67.5988 12.2831 68.1499 12.837 68.5129 13.5133C68.8988 14.241 69.093 15.0569 69.0766 15.8824C69.0768 16.1818 69.0524 16.4806 69.0038 16.7759V16.7759ZM66.6989 15.2245C66.7035 14.9535 66.6489 14.6849 66.5388 14.4378C66.4288 14.1906 66.2661 13.9711 66.0623 13.795C65.6375 13.4341 65.0964 13.2433 64.5416 13.2589C64.0168 13.2433 63.5055 13.4288 63.1104 13.7782C62.7074 14.1568 62.4551 14.6711 62.401 15.2245H66.6989Z"/><path d="M77.8928 12.3066C78.5571 12.9962 78.8893 13.9569 78.8893 15.1887V20.5598H76.6009V15.502C76.6009 14.7746 76.422 14.2175 76.0621 13.8202C75.8726 13.6221 75.6433 13.4673 75.3896 13.3661C75.1359 13.265 74.8638 13.2198 74.5914 13.2337C74.3152 13.2193 74.0392 13.2641 73.7814 13.3652C73.5236 13.4663 73.2899 13.6213 73.0957 13.8202C72.7295 14.2112 72.5486 14.7683 72.5486 15.502V20.5598H70.2644V11.4069H72.5527V12.5463C72.8631 12.1453 73.2639 11.8252 73.7218 11.6129C74.2104 11.384 74.7435 11.2684 75.282 11.2745C76.3569 11.2745 77.2271 11.6185 77.8928 12.3066Z"/><path d="M83.4326 13.3073V17.7324C83.4216 17.8531 83.4355 17.9749 83.4735 18.09C83.5114 18.205 83.5726 18.3109 83.6531 18.4009C83.8673 18.5613 84.1325 18.6361 84.3979 18.6111H85.4505V20.5598H84.013C82.0853 20.5598 81.1207 19.6124 81.1193 17.7176V13.3031H80.0417V11.4111H81.1193V9.14286H83.4326V11.4069H85.4505V13.2989L83.4326 13.3073Z"/><path d="M22.6033 17.3553H19.2093C20.0606 18.1828 20.8647 18.974 21.6644 19.7562C20.9411 20.4727 20.3054 21.0961 19.6428 21.7582C18.8813 20.9918 18.0997 20.2006 17.3315 19.4025C17.2541 19.2717 17.2224 19.1184 17.2416 18.9672C17.2416 17.6795 17.2416 16.3917 17.2416 15.113V14.6595H16.442C15.2717 14.6595 14.1015 14.6595 12.9222 14.6595C12.7756 14.6694 12.6296 14.633 12.5044 14.5553C11.7205 13.7867 10.9456 12.9954 10.1931 12.2427C10.849 11.5966 11.4757 10.964 12.1248 10.3156L14.5193 12.6191V9.21373H17.2259V12.6145C18.0345 11.7832 18.8132 10.9791 19.5619 10.2022C20.2695 10.9323 20.8962 11.5625 21.5835 12.2586C20.8445 12.9954 20.0471 13.7867 19.1958 14.6437H22.619L22.6033 17.3553Z"/><path d="M16.7902 15.0948V22.928H14.1667V19.6111L11.3185 22.4859L9.4609 20.6177L12.3158 17.7361H9.04761V15.0948H16.7902Z"/></svg></a></div></div></div></div><div id="closedPopUp" style="position:fixed;z-index:99999999999;left:50%;transform:translateX(-50%)"><div id="deletePopup" style="cursor:pointer;padding:2px;border-radius:50%;background:#f4f4f4;width:20px;height:20px;display:flex;justify-content:center;align-items:center;margin-left:-18px;margin-bottom:-12px"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.01026 5.00021L9.79103 1.21947C10.0703 0.940185 10.0703 0.488753 9.79103 0.209466C9.51174 -0.0698219 9.06031 -0.0698219 8.78102 0.209466L5.00025 3.99021L1.21948 0.209466C0.940192 -0.0698219 0.488757 -0.0698219 0.209467 0.209466C-0.0698224 0.488753 -0.0698224 0.940185 0.209467 1.21947L3.99024 5.00021L0.209467 8.78096C-0.0698224 9.06024 -0.0698224 9.51167 0.209467 9.79096C0.348755 9.93025 0.531615 10.0002 0.714474 10.0002C0.897334 10.0002 1.08019 9.93025 1.21948 9.79096L5.00025 6.01022L8.78102 9.79096C8.92031 9.93025 9.10317 10.0002 9.28603 10.0002C9.46889 10.0002 9.65174 9.93025 9.79103 9.79096C10.0703 9.51167 10.0703 9.06024 9.79103 8.78096L6.01026 5.00021Z" fill="#747474"/></svg></div><div style="box-sizing:border-box;word-break:break-word;color:#fff;padding-left:8px;padding-right:8px;min-width:232px;max-width:400px;display:flex;align-items:center;border-radius:24px;box-shadow:0 2px 8px rgba(0,0,0,.2);cursor:pointer;min-height:48px;font-size:18px;background-color:#000"><!-- font-family: *FONT_IMPORT*;background-color: *PRIMARY_COLOR*; --><div id="closedPopupText" style="font-family:'Open Sans',sans-serif;font-size:18px;font-weight:Normal;color:#fff;width:100%;text-align:center">Get 10% OFF</div></div></div><div id="closedPopUpMobile" style="z-index:99999999999;left:50%;transform:translateX(-50%)"><div id="deletePopupMobile" style="cursor:pointer;padding:2px;border-radius:50%;background:#f4f4f4;width:20px;height:20px;display:flex;justify-content:center;align-items:center;margin-left:-18px;margin-bottom:-12px"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.01026 5.00021L9.79103 1.21947C10.0703 0.940185 10.0703 0.488753 9.79103 0.209466C9.51174 -0.0698219 9.06031 -0.0698219 8.78102 0.209466L5.00025 3.99021L1.21948 0.209466C0.940192 -0.0698219 0.488757 -0.0698219 0.209467 0.209466C-0.0698224 0.488753 -0.0698224 0.940185 0.209467 1.21947L3.99024 5.00021L0.209467 8.78096C-0.0698224 9.06024 -0.0698224 9.51167 0.209467 9.79096C0.348755 9.93025 0.531615 10.0002 0.714474 10.0002C0.897334 10.0002 1.08019 9.93025 1.21948 9.79096L5.00025 6.01022L8.78102 9.79096C8.92031 9.93025 9.10317 10.0002 9.28603 10.0002C9.46889 10.0002 9.65174 9.93025 9.79103 9.79096C10.0703 9.51167 10.0703 9.06024 9.79103 8.78096L6.01026 5.00021Z" fill="#747474"/></svg></div><div id="openAumentPopupLogo" style="cursor:pointer;box-sizing:border-box;word-break:break-word;color:#fff;padding-left:8px;padding-right:8px;width:56px;display:flex;align-items:center;justify-content:center;border-radius:50%;box-shadow:0 2px 8px rgba(0,0,0,.2);height:56px;background-color:#000"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.1109 15.6906C33.2074 15.204 32.7902 14.1613 33.1378 13.1882L33.2074 12.9101C34.0416 10.3382 32.6512 7.62725 30.0795 6.79324C29.1064 6.44559 28.0637 6.44559 27.0906 6.79324L26.8125 6.86282C25.8393 7.21047 24.7967 6.7239 24.3101 5.88967C22.9893 3.52618 20.0004 2.6226 17.6371 3.94343C16.8029 4.36042 16.1772 5.05548 15.6906 5.88967C15.204 6.79325 14.1613 7.21044 13.1882 6.86282L12.9104 6.79324C10.3384 5.95905 7.62749 7.34938 6.79348 9.9211C6.44583 10.8942 6.44583 11.9369 6.79348 12.9101L6.86306 13.1881C7.21071 14.1613 6.72414 15.2039 5.88991 15.6905C3.52617 17.0113 2.6226 20.0002 3.94342 22.3636C4.36041 23.1977 5.05547 23.8235 5.88966 24.31C6.79324 24.7966 7.21043 25.8393 6.86281 26.8124L6.79323 27.0903C5.95904 29.6622 7.34938 32.3731 9.92109 33.2071C10.8942 33.5548 11.9369 33.5548 12.9101 33.2071L13.1881 33.1376C14.1613 32.7899 15.2039 33.2765 15.6905 34.1107C17.0113 36.4739 20.0002 37.3778 22.3635 36.0569C23.1977 35.64 23.8233 34.9446 24.3098 34.1107C24.7963 33.2071 25.8391 32.7899 26.8122 33.1376L27.0902 33.2071C29.6622 34.0413 32.3731 32.651 33.2071 30.0793C33.5548 29.1061 33.5548 28.0635 33.2071 27.0903L33.1375 26.8122C32.7899 25.8391 33.2765 24.7964 34.1107 24.3099C36.4739 22.9891 37.3778 20.0001 36.0569 17.6368C35.6402 16.8028 34.9451 16.1771 34.1109 15.6906ZM32.7902 21.877C30.7047 22.9893 29.7316 25.4221 30.4963 27.6465L30.5658 27.9246C30.9135 29.0369 30.2878 30.2185 29.1758 30.5659C28.7588 30.7048 28.3416 30.7048 27.9246 30.5659L27.6465 30.4966C25.4221 29.8015 22.9893 30.7746 21.877 32.7905C21.3209 33.8332 20.0004 34.1806 19.027 33.6247C18.6793 33.4162 18.4015 33.1381 18.1928 32.7905C17.3586 31.1916 15.6904 30.2185 13.8831 30.2185C13.3965 30.2185 12.9099 30.2881 12.4233 30.427L12.1453 30.4966C11.033 30.8443 9.85134 30.2185 9.50391 29.1065C9.36499 28.6895 9.36499 28.2723 9.50391 27.8553L9.57373 27.6466C10.2688 25.4222 9.29566 22.9894 7.27981 21.8771C6.23709 21.321 5.88972 20.0005 6.44562 19.0271C6.65412 18.6794 6.93219 18.4016 7.27981 18.1929C9.29563 17.0806 10.2688 14.6478 9.57373 12.4234L9.50415 12.1453C9.1565 11.0331 9.78223 9.85143 10.8942 9.504C11.3112 9.36509 11.7284 9.36509 12.1454 9.504L12.4235 9.57358C14.6479 10.2686 17.0807 9.29551 18.193 7.27967C18.7491 6.23694 20.0696 5.88958 21.043 6.44548C21.3907 6.65397 21.6685 6.93204 21.8772 7.27967C22.9895 9.36511 25.4223 10.3382 27.6467 9.64291L27.9247 9.57333C29.037 9.22568 30.2187 9.8514 30.5661 10.9634C30.705 11.3804 30.705 11.7976 30.5661 12.2146L30.4965 12.3543C29.8015 14.5786 30.7746 17.0114 32.7904 18.1237C33.8331 18.6798 34.1805 20.0004 33.6246 20.9738C33.4855 21.3905 33.2074 21.6685 32.7902 21.877Z" fill="white"/><path d="M25.1441 14.8565C24.5879 14.3003 23.754 14.3003 23.1978 14.8565L14.8565 23.1977C14.3004 23.6843 14.2311 24.5878 14.7176 25.144C15.2042 25.7001 16.1077 25.7694 16.6639 25.2829C16.7334 25.2133 16.8028 25.2133 16.8028 25.144L25.1441 16.8027C25.7002 16.2465 25.7002 15.4124 25.1441 14.8565Z" fill="white"/><path d="M17.2198 16.5247C17.2198 15.3431 16.3163 14.4393 15.1344 14.4393C13.9528 14.4393 13.049 15.3428 13.049 16.5247C13.049 17.7063 13.9525 18.6102 15.1344 18.6102C16.3163 18.6102 17.2198 17.7064 17.2198 16.5247Z" fill="white"/><path d="M24.866 21.3905C23.6844 21.3905 22.7806 22.294 22.7806 23.4759C22.7806 24.6575 23.6842 25.5614 24.866 25.5614C26.0476 25.5614 26.9515 24.6578 26.9515 23.4759C26.9515 22.2943 26.0479 21.3905 24.866 21.3905Z" fill="white"/></svg></div></div><script src="https://aumentstaticfiles.s3.amazonaws.com/popupUtils/intlTelInput.min.js"></script>
          <script>
            
const isMobile = document.body.offsetWidth < 600;
const closedPopUp = document.getElementById(
  isMobile ? 'closedPopUpMobile' : 'closedPopUp'
);
const closedPopupText = document.getElementById('closedPopupText');
const openPopUp = document.getElementById('openPopUp');
const closeButton = document.getElementById('closeButton');
const closeButtonSuccess = document.getElementById('closeButtonSuccess');
const emailInput = document.getElementById('emailInput');
const submitButton = document.getElementById('submitButton');
const successPopUp = document.getElementById('successPopUp');
const submitSuccess = document.getElementById('submitButtonSuccess');
const deletePopup = document.getElementById('deletePopup');
const deletePopupMobile = document.getElementById('deletePopupMobile');
const aumentDiscountCode = document.getElementById('aumentDiscountCode');
const openAumentPopupLogo = document.getElementById('openAumentPopupLogo');
const aumentSuccessTitle = document.getElementById('aumentSuccessTitle');
const aumentSuccessSubtitle = document.getElementById('aumentSuccessSubtitle');
const aumentAlreadyExists = document.getElementById('aumentAlreadyExists');
const aumentSmsInput = document.getElementById('aumentSmsInput');
const emailError = document.getElementById('emailError');
const aumentPhoneError = document.getElementById('aumentPhoneError');
const storageKey = 'Aument-popup-discount';
const storageClose = 'Aument-popup-close';
const buttonBackgroundColor = JSON.parse(
  JSON.stringify(submitButton.style.backgroundColor)
);
const POPUP_DELETED = 'deleted';
const POPUP_CLOSED = 'closed';
const POPUP_OPEN = 'open';

const itiPrefix = false ? null : window.intlTelInput(aumentSmsInput,{utilsScript: "https://aumentstaticfiles.s3.amazonaws.com/popupUtils/utils.js"});

function overlayOn() {
  aumentOverlay.style.display = 'block';
}
function overlayOff() {
  aumentOverlay.style.display = 'none';
}
function openThePopup(){
  openPopUp.style.display = 'block';
  overlayOn();
}

closedPopUp.style.display = 'none';
openPopUp.style.display = 'none';
successPopUp.style.display = 'none';
emailError.style.display = 'none';
aumentAlreadyExists.style.display = 'none';
aumentOverlay.style.display = 'none';
function displayOpenPopUp() {
  closedPopUp.style.display = 'none';
  const discountString = window.sessionStorage.getItem(storageKey);
  if (discountString && discountString !== 'undefined') {
    successPopUp.style.display = 'block';
  } else {
    openThePopup();
  }
}
function removePopup() {
  closedPopUp.style.display = 'none';
  window.localStorage.setItem(storageClose, POPUP_DELETED);
}
function initiatePopUp() {
  const discountString = window.sessionStorage.getItem(storageKey);
  const isPopupDeleted =
    window.localStorage.getItem(storageClose) === POPUP_DELETED;
  const isPopupClosed = window.localStorage.getItem(storageClose) === POPUP_CLOSED;
  if (discountString) {
    console.log("Descuento")
    closedPopUp.style.display = 'none';
  }else if (isPopupDeleted) {
    closedPopUp.style.display = 'none';
  } else if(isPopupClosed) {
    closedPopUp.style.display = 'flex';
  } else {
    setTimeout(()=>{
      openThePopup();
      window.localStorage.setItem(storageClose, POPUP_OPEN);
    }, 3000)
  }
  if (isMobile) {
    openAumentPopupLogo.addEventListener('click', displayOpenPopUp);
  } else {
    closedPopupText.addEventListener('click', displayOpenPopUp);
  }
}
function displayClosedPopUp() {
  overlayOff();
  closedPopUp.style.display = 'flex';
  openPopUp.style.display = 'none';
  successPopUp.style.display = 'none';
  window.localStorage.setItem(storageClose, POPUP_CLOSED);
}
function emailValidator(email) {
  const re =
    /^(([^<>()[\]\.,;:\s@"]+(\.[^<>()[\]\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  const isValid = re.test(String(email).toLowerCase());
  return isValid;
}
function validatePhone() {
  return itiPrefix.isValidNumber();
}
function checkPhone() {
  const validPhone = validatePhone(aumentSmsInput.value);
  if ( (!true && !validPhone) || ( true && aumentSmsInput.value && !validPhone) ) {
    submitButton.disabled = false;
    submitButton.style.backgroundColor = buttonBackgroundColor;
    return false;
  }
  return true;
}
function checkEmail() {
  const validEmail = emailValidator(emailInput.value);
  if (true && !validEmail) {
    submitButton.disabled = false;
    submitButton.style.backgroundColor = buttonBackgroundColor;
    return false;
  }
  return true;
}

async function postData(url = '', data = {}) {
  const response = await fetch(url, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(data), // body data type must match "Content-Type" header
  });
  const jsonResponse = await response.json();
  return {...jsonResponse, status: response.status}; // parses JSON response into native JavaScript objects
}
async function sendEmail() {
  submitButton.disabled = true;
  submitButton.style.backgroundColor = '#eaeaea';
  let inputErrors = [];
  if( true ){
    const isEmailValid = checkEmail();
    if (isEmailValid) emailError.style.display = 'none';
    if (!isEmailValid) {
      emailError.style.display = 'block';
      inputErrors.push('email');
    } 
  };
  if( true ){
    const isPhoneValid = checkPhone();
    if(isPhoneValid) aumentPhoneError.style.display = 'none';
    if(!isPhoneValid) {
      aumentPhoneError.style.display = 'block';
      inputErrors.push('phone');
    }
  }
  if(inputErrors.length > 0) return inputErrors;
  const requestObj = {}
  if ( true ) requestObj.email = emailInput.value
  if ( true ) {
    const {dialCode} = itiPrefix.getSelectedCountryData()
    requestObj.phone = aumentSmsInput.value ? '+' + dialCode + aumentSmsInput.value : ""
  }
  const generateDiscountCode = await postData(
    'https://backprod.aument.io/api/v2/challenge/634fd1fe49e78a0009d07c69/generate-coupon',
    requestObj
  );
  if(generateDiscountCode?.status > 400) {
    aumentSuccessSubtitle.style.display = 'none';
    aumentSuccessTitle.style.display = 'none';
    aumentDiscountCode.style.display = 'none';
    aumentAlreadyExists.style.display = 'block';
  } else if (!generateDiscountCode.code) {
    submitSuccess.addEventListener('click', removePopup);
    closeButtonSuccess.addEventListener('click', removePopup);
  }
  submitButton.style.backgroundColor = buttonBackgroundColor;
  window.sessionStorage.setItem(storageKey, generateDiscountCode.code);
  aumentDiscountCode.innerHTML = generateDiscountCode.code;
  openPopUp.style.display = 'none';
  successPopUp.style.display = 'block';
  return setTimeout(() => {
    const dis = window.sessionStorage.getItem(storageKey);
    if (dis) {
      overlayOff();
      window.localStorage.setItem(storageClose, POPUP_DELETED);
      window.location.pathname = '/discount/' + dis;
    }
  }, 5000);
}
initiatePopUp();
deletePopup.addEventListener('click', removePopup);
deletePopupMobile.addEventListener('click', removePopup);
submitSuccess.addEventListener('click', displayClosedPopUp);
closeButton.addEventListener('click', displayClosedPopUp);
closeButtonSuccess.addEventListener('click', displayClosedPopUp);
submitButton.addEventListener('click', sendEmail);
emailInput.addEventListener('keypress', (event) => {
  if (event.key === 'Enter') {
    event.preventDefault();
    sendEmail();
  }
});
  
  
          </script>
          