{% if localization.available_countries.size > 1 %}
  <localization-form>
    {% form 'localization' %}
      <div class="disclosure">
        <button
          type="button"
          class="disclosure__button"
          aria-expanded="false"
          aria-controls="CountryList">
          {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})

          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-caret"
            viewBox="0 0 10 6">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
              fill="currentColor">
          </svg>
        </button>

        <ul
          id=""
          role="list"
          class="CountryList disclosure__list customcountrylist"
          hidden
          style="position:absolute;">

        </ul>

        <input
          type="hidden"
          name="country_code"
          value="{{ localization.country.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}