<script type="text/javascript">

          (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,
              e.src="//staticw2.yotpo.com/zafe2a8DqJ7nZSKQodjgv6jHPtPcUFaFsLIEfgOD/widget.js";var t=document.getElementsByTagName("script")[0];
              t.parentNode.insertBefore(e,t)})();
          
</script>
<div class="page-width">
<div id="yotpo-testimonials-custom-tab"></div>
</div>
{% schema %}
  {
    "name": "All Reviews",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
