<div class="yotpo yotpo-reviews-carousel" 
 data-background-color="transparent" 
 data-mode="most_recent" 
 data-type="product" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1" 
 data-testimonials-page-enabled="1" 
 data-testimonials-page-text="See All Reviews" 
 data-testimonials-page-link="https://www.elevatestyles.com/pages/reviews">&nbsp;</div>

{% schema %}
{
  "name": "Yotpo Reviews Carousel",
  "settings": [],
  "presets": [
    {
      "name": "Yotpo Reviews Carousel",
      "category": "Yotpo Reviews"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}